.container{
    width: 100vw;
    display: flex;
    
}
.card{
    color: black;
    font-size: 1.5rem;
    width: 20vw;
    height: 20vh;
    padding: 1rem;
    background-color: white;
    opacity: 70%;
    border-radius: .25rem;
    display: flex;
}